@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Réinitialisation des styles par défaut du formulaire */
form {
    margin: 0;
    padding: 15px;
    border: none;
  }
  
  /* Style pour le conteneur principal */
  .container {
    font-family: 'Lato', sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap : 20px;
    flex-direction: column;
    justify-content: center;
    background-color: #808080be;
    color: #fff;
  }

  #last-name, #first-name,
  #street, #city, #zip-code,
  select {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  
  #last-name{
    margin-bottom: 30px;
  }
  /* Style pour le titre */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style pour les labels */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  


  .datepicker {
    margin-bottom: 0 !important;
  }


  

  .work-dep{
    margin-top : 20px;
  }
  
  /* Style pour le bouton */
  button {
    background-color: #091792;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Style pour le bouton au survol */
  button:hover {
    background-color: #001b35;

  }

//RETIRER LES FLÈCHES DES INPUTS NUMBER
/* Firefox */


/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
-webkit-appearance: none;
margin:0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
-o-appearance: none;
margin:0
}
  