@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* EmployeeTable.css */


.employee-list__title{
  margin: 20px;
  color: whitesmoke;
}


.employee-table {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #353535;
    color: whitesmoke;
    text-align: center;
    font-weight: 500;
    padding: 12px;

  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  